#root {
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
  background-color: #c1ff9b;
}

 body {
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

.header-text{
  color: rgb(0, 0, 0);
  
  text-shadow: 5px 5px 1px #00d4ff,
  10px 10px 1px #ff005e;
  animation: shadow-dance 3s infinite;
}

@keyframes shadow-dance{
   0%, 100% {
        text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    }
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
    }
}
.events{
  padding-top: 25px;
  background-color: #fface4;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  
  


}

.event-wrapper{
  background-color: #ab87ff;
  margin: auto;
  border-radius: 5%;
  margin-bottom: 25px;
}

.event{
  display: inline-block;
  width: 380px;
  padding-bottom: 5px;
}

.eventpics{
  border: solid #fff 10px;
  width: 360px;
  height: 340px;
}
