#root {
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(255, 255, 255);
  background-color: black;
}

 body {
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

.tittle{
  color: blueviolet;
  text-shadow: 0 0 10px #fff;
}
.events{
  background-color: rgb(255, 3, 3);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  
  


}

.event-wrapper{
  background-color: aqua;
  margin: auto;
  border-radius: 5%;
  margin-bottom: 25px;
}

.event{
  display: inline-block;
  width: 380px;
}

